DJANGO_SECRET_KEY=replace-with-a-new-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=colourshop.ws,www.colourshop.ws
DJANGO_CSRF_TRUSTED_ORIGINS=https://colourshop.ws,https://www.colourshop.ws
DJANGO_TIME_ZONE=Pacific/Apia
SITE_BASE_URL=https://colourshop.ws
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=False

DB_ENGINE=mysql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

DJANGO_STATIC_URL=/static/
DJANGO_STATIC_ROOT=/home/<cpanel-username>/public_html/static
DJANGO_MEDIA_URL=/media/
DJANGO_MEDIA_ROOT=/home/<cpanel-username>/public_html/media

DEFAULT_FROM_EMAIL=
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=
EMAIL_PORT=465
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False
EMAIL_TIMEOUT=10

PASSWORD_RESET_TIMEOUT=86400
EMAIL_VERIFICATION_RESEND_COOLDOWN_SECONDS=300

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=The Color Shop

STORE_CONTACT_PHONE=+68525577
STORE_PICKUP_ADDRESS=569J+3VH, Togafu'afu'a Rd, Apia, Samoa
AXES_FAILURE_LIMIT=5
AXES_COOLOFF_MINUTES=30
RATELIMIT_ENABLE=True