{% extends 'emails/base.html' %}

{% block email_body %}
  <p style="margin:0 0 16px 0;font-size:16px;line-height:1.7;color:#17254d;">Talofa {{ customer_name }},</p>
  <p style="margin:0 0 16px 0;font-size:16px;line-height:1.7;color:#17254d;">We received a request to reset the password for your The Color Shop account. Use the button below to choose a new password.</p>
  <p style="margin:0 0 16px 0;font-size:15px;line-height:1.7;color:#475467;">If you did not request this change, you can ignore this email and your password will stay the same.</p>
  <p style="margin:0;font-size:14px;line-height:1.7;color:#667085;word-break:break-word;">Reset link: <a href="{{ reset_url }}" style="color:#24498f;">{{ reset_url }}</a></p>
{% endblock %}